*{margin:0;padding:0;box-sizing:border-box;font-family:'Roboto',sans-serif}
body{background:#f7f3ee}
.layout{display:flex;min-height:100vh}

/* SIDEBAR */
.sidebar{
  width:225px;
  background:#fff;
  padding:16px;
  border-right:1px solid #eee;
  transition:width .3s ease
}
.sidebar.collapsed{width:80px}

/* HEADER */
.sidebar-header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-bottom:16px
}
.logo{margin-left:45px}
.logo-img{width:95px}
.sidebar.collapsed .logo{display:none}

.toggle-btn{
  background:none;
  border:none;
  font-size:20px;
  color:#333;
  cursor:pointer
}

/* NAV */
.sidebar nav a{
  display:flex;
  align-items:center;
  gap:10px;
  padding:9px 10px;
  color:#000;
  text-decoration:none;
  border-radius:10px;
  margin-bottom:6px;
  font-size:14px
}
.sidebar nav a i{
  min-width:18px;
  text-align:center
}
.sidebar nav a:hover,
.sidebar nav a.active{
  background:#D17A00;
  color:#fff
}

/* MENU TITLE */
.menu-title{
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-size:14px;
  color:#555;
  margin:14px 0 5px;
  cursor:pointer
}
.menu-title i{
  font-size:13px;
  transition:.3s
}
.menu-title.open i{transform:rotate(180deg)}

/* COLLAPSE MODE */
.sidebar.collapsed nav a span{display:none}
.sidebar.collapsed .menu-title{display:none}
.sidebar.collapsed nav a{justify-content:center}
.sidebar.collapsed .sidebar-header{justify-content:center}

/* ICON TIDAK HILANG */
.sidebar.collapsed nav a,
.sidebar.collapsed nav a i{
  display:flex !important
}

/* MAIN */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* TOPBAR */
.topbar {
  height: 64px;
  background: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.topbar h2 {
  font-size: 15px;
  font-weight: 400;
  color: #000;
}

/* DROPDOWN */
.user-dropdown {position: relative;}

.user-btn {
  background: none;
  border: none;
  color: #A24400;
  font-size: 14px;
  font-style: bold;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 130%;
  right: 0;
  width: 170px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
  display: none;
  overflow: hidden;
  z-index: 1000;
}

.dropdown-menu.show {display:block;}

.dropdown-menu a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 16px;
  text-decoration: none;
  color: #666;
  font-size: 14px;
}

.dropdown-menu a:hover {background:#f7f3ee}
.dropdown-menu hr {border:none;border-top:1px solid #e5e5e5}
.dropdown-menu .logout {color:#666}

/* CONTENT */
.content-wrapper {padding:20px}

.filter {margin-bottom:20px}
.filter select {
  padding:8px 12px;
  border-radius:8px;
  border:1px solid #c6c6c6;
}

.cards {
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
}

.card {
  background:#fff;
  padding:20px;
  border-radius:16px;
  text-align:center;
  border:2px solid #c6c6c6;
}

.card i {
  font-size:28px;
  color:#c56a00;
  margin-bottom:10px;
}

.card h2 {
  font-size:28px;
  margin-bottom:5px;
  color:#666;
}
