/* ===== PROFILE ===== */
.profile-container {
  background: #ffffff;
  border: 1px solid #999;
  border-radius: 12px;
  padding: 24px;

  width: 80%;
  max-width: 100%;      /* ⬅️ ini kunci */
  margin: 40px 120px;       /* ⬅️ jangan auto */
}

/* TAB */
.profile-tabs{
  display:flex;
  gap:40px;
  margin-bottom:24px;
  justify-content:center
}

.tab {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #777;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
}

.tab.active {
  color: #b45300;
  position: relative;
}

.tab.active::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 8px;
  background: #b45300;
  border-radius: 0 0 20px 20px; 
}

/* FORM */
.profile-form{
  margin-top:30px
}

.form-row{
  display:flex;
  gap:16px;
  margin-bottom:16px
}

.form-row.full input{
  width:100%
}

.profile-form input{
  width:100%;
  padding:12px 14px;
  border-radius:10px;
  border:1px solid #7d7dc5;
  font-size:14px
}

/* BUTTON */
.btn-simpan{
  width:100%;
  margin-top:20px;
  background:#b45300;
  color:#fff;
  border:none;
  padding:14px;
  font-size:16px;
  border-radius:10px;
  cursor:pointer
}

.btn-simpan:hover{
  background:#9c4600
}