/* ================= CONTAINER LUAR ================= */
.laporan-container {
    max-width: 1050px;
    margin: 5px auto 20px;
    padding: 20px;
    border-radius: 6px;
    font-family: "Segoe UI", Arial, sans-serif;
}

/* ================= TOP ================= */
.laporan-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

/* Pilih Periode */
.filter-box {
    background: #f5f5f5;
    padding: 10px 18px;
    border-radius: 6px;
    border: 1px solid #cac9c9;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

/* Tombol Cetak */
.btn-cetak {
    background: #e5d3b3;
    border: 1px solid #b89b67;
    padding: 9px 22px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

/* ================= TABEL BOX ================= */
/* BOX PUTIH */
.laporan-table {
    background: #ffffff;
    border: 2px solid #9c9c9c;   /* lebih tegas */
    border-radius: 12px;        /* lebih smooth */
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05); /* biar terangkat */
}


/* ================= HEADER ================= */
.laporan-header {
    display: grid;
    grid-template-columns: 60px 1.4fr 1.6fr 2fr 1fr;
    background: #c8c8c8;
    padding: 16px 12px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #8f8f8f;
}

/* ================= ROW ================= */
.laporan-row {
    display: grid;
    grid-template-columns: 60px 1.4fr 1.6fr 2fr 1fr;
    padding: 18px 12px;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #9e9e9e;
}

/* Item produk rata kiri */
.produk-list {
    text-align: left;
    font-size: 13px;
    line-height: 1.6;
}

/* ================= TOTAL ================= */
.laporan-total {
    display: grid;
    grid-template-columns: 60px 1.4fr 1.6fr 2fr 1fr;
    padding: 18px 12px;
    background: #dcdcdc;
    font-weight: 600;
    border-top: 3px double #8f8f8f; /* garis ganda seperti gambar */
    align-items: center;
}

.total-label {
    text-align: right;
    padding-right: 15px;
}

.total-value {
    text-align: center;
}
