* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            height: 100vh;
            display: flex;
            overflow: hidden;
        }

        /* LEFT IMAGE */
        .login-image{
    width:50%;
    background-image: url('../assets/images/login.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}


        /* RIGHT LOGIN */
        .login-container {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
        }

        .login-box {
            width: 360px;
            text-align: center;
        }

        .login-box h2 {
            color: #c86b00;
            margin-bottom: 15px;
        }

        .logo-img {
            width: 120px;
            margin-bottom: 25px;
        }

        .input-group {
            position: relative;
            margin-bottom: 18px;
        }

        .input-group input {
            width: 100%;
            padding: 12px 40px 12px 40px;
            border-radius: 10px;
            border: 1px solid #ccc;
            outline: none;
            font-size: 14px;
        }

        .input-group i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #999;
        }

        .input-group .fa-user,
        .input-group .fa-lock {
            left: 15px;
        }

        .btn-login {
            width: 100%;
            padding: 12px;
            border-radius: 10px;
            border: none;
            background-color: #c86b00;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            cursor: pointer;
            transition: 0.3s;
        }

        .btn-login:hover {
            background-color: #a85700;
        }

        .register {
            margin-top: 20px;
            font-size: 13px;
        }

        .register a {
            color: #c86b00;
            text-decoration: none;
            font-weight: 500;
        }

        /* RESPONSIVE */
        @media (max-width: 768px) {
            .login-image {
                display: none;
            }

            .login-container {
                width: 100%;
                height: 100vh;
            }
        }