body {
    background: #f7f3ee;
}

/* CARD UTAMA */
.section.permintaan {
    max-width: 900px;
    margin: 40px auto;
    background: #ffffff;
    border-radius: 16px;
    padding: 28px 32px 36px;
    box-shadow: 0 8px 24px rgba(0,0,0,.08);
}

.section.permintaan h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
}

/* ALERT */
.alert {
    padding: 10px 14px;
    border-radius: 8px;
    font-size: 13px;
    margin-bottom: 12px;
}

.alert-red {
    background: #f7f3ee;
    color: #991b1b;
}

.alert-green {
    background: #dcfce7;
    color: #166534;
}

/* FORM BOX */
.form-box {
    background: #ffffff;
}

/* HEADER FORM */
.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    font-weight: 600;
}

/* BOX ORANGE */
#daftar-permintaan {
    border: 1.5px solid #f59e0b;
    background: #fffaf3;
    border-radius: 14px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


/* ROW */
.form-item {
    display: grid;
    grid-template-columns: 1.8fr 1fr 36px;
    gap: 10px;
    align-items: center;
}

/* INPUT */
.form-item select,
.form-item input {
    height: 38px;
    padding: 6px 12px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    font-size: 13px;
    background: #ffffff;
}

/* DELETE ICON */
.btn-delete {
    background: none;
    border: none;
    cursor: pointer;
    color: #dc2626;
    font-size: 16px;
}

/* CATATAN PUTIH */
textarea {
    width: 100%;
    margin-top: 18px;
    padding: 12px;
    min-height: 90px;
    border-radius: 12px;
    border: 1px solid #d1d5db;
    background: #ffffff;
    font-size: 13px;
    resize: none;
}

/* ACTION */
.form-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 24px;
}

/* BUTTON */
.btn {
    border: none;
    border-radius: 10px;
    padding: 10px 22px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}

.btn-green {
    background: #166534;
    color: #fff;
}

.btn-red {
    background: #dc2626;
    color: #fff;
}

.btn-orange {
    background: #f59e0b;
    color: #fff;
}

.btn.small {
    padding: 6px 14px;
    font-size: 12px;
}
