*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    height:100vh;
    display:flex;
    overflow:hidden;
}

/* LEFT */
.left-image{
    width:50%;
    height:100vh;
    background:url('../assets/images/login.png') no-repeat center top;
    background-size:cover;
}

/* RIGHT */
.container{
    width:50%;
    height:100vh;
    overflow-y:auto;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    background:#fff;
}

/* FORM */
.register-box{
    width:550px; 
    padding:40px 0px;
    text-align:center;
}

/* TITLE */
.register-box h2{
    color:#c86b00;
    margin-bottom:15px;
}

.logo{
    width:130px;
    margin:10px auto 20px;
    display:block;
}

/* INPUT */
.input-group{
    position:relative;
    margin-bottom:14px;
    width:100%;
}

.input-group input,
.input-group textarea{
    width:100%;
    padding:10px 35px; 
    border-radius:10px;
    border:1px solid #ccc;
    font-size:13px;
}

/* ICON KIRI */
.icon-left{
    position:absolute;
    left:15px;
    top:50%;
    transform:translateY(-50%);
    color:#999;
}

/* TEXTAREA FIX */
.input-group textarea{
    resize:none;
    height:48px;
}

/* ICON KHUSUS TEXTAREA */
.textarea-group .icon-left{
    top:14px;
    transform:none;
}

/* ROW FIX */
.row{
    display:flex;
    gap:12px;
    width:100%;
}

.row .input-group{
    flex:1;
    min-width:0; 
}

/* PASSWORD */
.password-group input{
    padding-right:45px;
}

/* ICON MATA */
.toggle-password{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    color:#999;
}
input[type="password"]::-ms-reveal {
    display: none;
}
/* UPLOAD */
.upload-box{
    border:1px solid #ccc;        
    border-radius:10px;           
    padding:14px;
    margin-bottom:16px;
    text-align:center;
    background:#fff;
}

.upload-btn{
    padding:6px 14px;
    background:#c86b00;
    color:#fff;
    border-radius:20px;
    font-size:11px;
    cursor:pointer;
    display:inline-block;
    margin-bottom:8px;
}

.upload-area{
    border:1px dashed #c86b00;    
    background:#FFF7ED;           
    padding:14px;
    border-radius:10px;
    font-size:12px;
    color:#999;
}

.upload-area i{
    display:block;
    font-size:20px;
    color:#c86b00;
    margin-bottom:5px;
}

/* BUTTON */
.btn-register{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#c86b00;
    color:#fff;
    font-size:15px;
    cursor:pointer;
}

.btn-register:hover{
    background:#a85700;
}

/* LOGIN LINK */
.login-link{
    text-align:center;
    margin-top:15px;
    font-size:13px;
}

.login-link a{
    color:#c86b00;
    font-weight:500;
    text-decoration:none;
}

/* RESPONSIVE */
@media(max-width:768px){
    .left-image{display:none;}
    .container{width:100%;}
    .register-box{width:100%;}
}