* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* MODAL */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: none; /* default hidden */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-box {
    background: #fff;
    padding: 28px;
    border-radius: 10px;
    width: 500px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 10000;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-lihat-rekening {
    font-size: 12px;
    color: #fff;
    background-color: #A24400;
    border: none;
    border-radius: 5px;
    padding: 6px 8px;
    align-items: center;
}
/* INPUT & SELECT */
.modal select,
.modal input {
    width: 100%;
    height: 48px;
    padding: 10px 14px;
    margin-bottom: 14px;
    font-size: 15px;
    color: #615E83;
    border: 1.5px solid #615E83;
    border-radius: 6px;
    outline: none;
}

.modal input::placeholder {
    color: #615E83;
    opacity: 0.7;
}

/* FORM TOMBOL */
.form-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 22px;
}

.form-actions button {
    min-width: 140px;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
}

.btn-simpan {
    background-color: #056A28;
}

.btn-batal {
    background-color: #DB2C00;
}

/* ======================
  TABEL REKENING 
====================== */
.container-rekening {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 20px;
}


/* ======================
   CARD PUTIH
====================== */
.card-rekening {
    width: 100%;
    max-width: 1200px;

    background: #fff;
    border-radius: 18px;
    padding: 26px;

    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}


/* ======================
   HEADER
====================== */
.header-rekening {
    margin-bottom: 18px;
}

.header-rekening h3 {
    font-size: 18px;
    font-weight: 600;
}


/* ======================
   ENTRIES + SEARCH
====================== */
.table-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.entries-form {
    display: flex;
    align-items: center;
    gap: 8px;
}

.entries-form select {
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: #fff;
}

.container-rekening .search-box {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 6px 10px;
    background: #fff; 
}

.container-rekening .search-box input {
    border: none;
    outline: none;
    width: 80px;
    background: transparent;
}

/* ======================
   TABLE
====================== */
.table-rekening {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

/* HEADER ORANGE */
.table-rekening thead {
    background: #A24400;
    color: #fff;
}

/* header cell */
.table-rekening th {
    padding: 12px;
    text-align: left;
    font-weight: 600;
}

/* isi */
.table-rekening td {
    padding: 12px;
}

/* garis horizontal doang */
.table-rekening tr {
    border-bottom: 1px solid #eee;
}

/* hover */
.table-rekening tbody tr:hover {
    background: #fafafa;
}


/* ======================
   RESPONSIVE
====================== */
@media (max-width: 768px) {
    .table-controls {
        flex-direction: column;
        gap: 10px;
        align-items: stretch;
    }

    .search-box input {
        width: 100%;
    }
}
